@import './globals';

.comunidad{
  background: $color-medio;
  padding: 30px 0;
  @include barra;
  @include encabezado(3);
  & > h3{
    text-align: center;
    margin: 0 12px 12px;
    font-size: 1.2rem;
  }
  & > p{
    font-size: 0.8rem;
    text-align: center;
    margin: 0 15px 15px;
    
  }
}