@import './globals';

.temarioRecursos{
  margin-top: 20px;
  @include barra;
  & > h3{
    text-align: center;
    margin: 0 12px;
  }
  & h3{
    font-size: 1.2rem;
  }
  & .encabezado{
    grid-template-columns: repeat(2, 1fr);
  }
  & .contenido{
    margin: 15px 12px 0;
    & .nota{
      color: $color-opaco;
      font-size: 0.7rem;
      font-weight: bold;
      margin-bottom: 8px;
    }
    & .temario{
      //display: none;
      & .modulo{
        font-size: 0.8rem;
        padding-bottom: 3px;
        border-bottom: 1px solid $color-claro;
        & h3{
          margin-bottom: 8px;
          margin-top: 10px;
        }
        & .clase{
          display: grid;
          align-items: center;
          padding: 15px;
          grid-template-columns: 11px auto;
          column-gap: 10px;
          background-color: $color-claro;
          border-radius: 6px;
          cursor: pointer;
          margin-bottom: 3px;
          & svg{
            fill: $color-azul;
          }
          & p{
            font-size: 0.8rem;
            font-weight: lighter;
          }
        }
      }
    }
    & .detalles{
      display: none;
      & .horas{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & div{
          display: flex;
          font-size: 1rem;
          align-items: center;
          & svg{
            fill: $color-fuente;
            margin-right: 10px;
          }
        }
        & .horasContenido svg{
          height: 24px;
        }
        & .horasPractica svg{
          height: 21px;
        }
      }
    }
  }
}