@import './globals';

.encabezado{
  display: grid;
  border-bottom: 1px solid $color-claro;
  font-size: 0.7rem;
  margin: 10px 6px;
  text-transform: uppercase;
  & span{
    padding: 6px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  & span:nth-of-type(1){
    border-bottom: 3px solid $color-verde;
  }
}