@import './globals';

.footer{
  background-color: $color-oscuro;
  display: grid;
  justify-items: center;
  & svg{
    fill: $color-fuente;
  }
  & .redes{
    display: flex;
    height: 20px;
  }
  & .enlaces{
    display: flex;
    flex-wrap: wrap;
  }
}