@import './Vars.scss';

@mixin contenedor {
  display: block;
  background-color: $color-medio;
  border-radius: 6px;
  margin: 0 12px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid $color-azul;
  }
}
@mixin scroll {
  &::-webkit-scrollbar{
    width: 3.5px;
  }
  &::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 5px;
  }
  &:hover{
    &::-webkit-scrollbar-thumb{
      background: $color-opaco;
    }
  }
}
@mixin boton-grande($color,$back) {
  @if $back==1 {
    background-color: $color;
    color: $color-medio;
  } @else {
    color: $color;
    background-color: transparent;
  }
  border: 1px solid $color;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
@mixin barra($margin-left: auto, $margin-right: auto) {
  & .barra{
    width: 60px;
    border-top: 2px solid $color-azul;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: $margin-right;
    margin-left: $margin-left;
  }
}
@mixin encabezado($col) {
  & .encabezado{
    display: grid;
    grid-template-columns: repeat($col,1fr);
    border-bottom: 1px solid $color-claro;
    font-size: 0.7rem;
    margin: 10px 6px;
    text-transform: uppercase;
    & span{
      padding: 6px 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
    & span:nth-of-type(1){
      border-bottom: 3px solid $color-verde;
    }
  }
}
@mixin colorCategory($color,$borde,$fill) {
  @if $color==1 {
    & .marketing{
      color: $color-marketing;
    }
    & .ux{
      color: $color-ux;
    }
    & .ingles{
      color: $color-ingles;
    }
    & .startups{
      color: $color-startups;
    }
    & .desarrollo{
      color: $color-desarrollo;
    }
    & .habilidades{
      color: $color-habilidades;
    }
    & .negocio{
      color: $color-negocio;
    }
    & .contenido{
      color: $color-contenido;
    }
    
  }
  @if $borde==1 {
    & .marketing{
      border-color: $color-marketing;
    }
    & .ux{
      border-color: $color-ux;
    }
    & .ingles{
      border-color: $color-ingles;
    }
    & .startups{
      border-color: $color-startups;
    }
    & .desarrollo{
      border-color: $color-desarrollo;
    }
    & .habilidades{
      border-color: $color-habilidades;
    }
    & .negocio{
      border-color: $color-negocio;
    }
    & .contenido{
      border-color: $color-contenido;
    }
  }
  @if $fill==1 {
    & .marketing{
      & svg{
        fill: $color-marketing;
      }
    }
    & .ux{
      & svg{
        fill: $color-ux;
      }
    }
    & .ingles{
      & svg{
        fill: $color-ingles;
      }
    }
    & .startups{
      & svg{
        fill: $color-startups;
      }
    }
    & .desarrollo{
      & svg{
        fill: $color-desarrollo;
      }
    }
    & .habilidades{
      & svg{
        fill: $color-habilidades;
      }
    }
    & .negocio{
      & svg{
        fill: $color-negocio;
      }
    }
    & .contenido{
      & svg{
        fill: $color-contenido;
      }
    }
  }
}
