@import './Vars.scss';

*{
  margin: 0;
  padding: 0;
}
body {
  background-color: $color-fondo;
  color: $color-fuente;
  font-family: $fuente;
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: $color-fuente;
  cursor: pointer;
}
@mixin contenedor {
  display: block;
  background-color: $color-medio;
  border-radius: 6px;
  margin: 0 12px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid $color-azul;
  }
}
