@import './Vars.scss';

@mixin contenedor {
  display: block;
  background-color: $color-medio;
  border-radius: 6px;
  margin: 0 12px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid $color-azul;
  }
}
@mixin scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 3.5px;
  }
  &::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 5px;
  }
  &:hover{
    &::-webkit-scrollbar-thumb{
      background: $color-opaco;
    }
  }
}
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: $color-fondo;
  color: $color-fuente;
  font-family: $fuente;
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: $color-fuente;
  cursor: pointer;
}