@import './globals';

.Hero{
  display: grid;
  grid-template-rows: 40px min-content auto min-content;
  padding: 20px;
  row-gap: 15px;
  background-color: rgba($color-opaco, $alpha: 0.1);
  & img{
    width: 40px;
    height: 40px;
  }
  & h2{
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  & .valoracion{
    display: flex;
    align-items: center;
    & .estrellas{
      display: flex;
      & svg{
        fill: $color-amarillo;
        height: 13px;
        width: 13px;
        margin-right: 2px;
      }
    }
    & .valoraciones{
      font-size: 0.8rem;
      color: $color-azul;
      margin: 0 20px 0 5px;
    }
    & .level{
      display: flex;
      border-radius: 5px;
      border: 1px solid $color-opaco;
      padding: 3px 8px;
      height: 15px;
      align-items: center;
      font-size: 0.8rem;
      & svg{
        height: inherit;
        margin-right: 8px;
      }
    }
  }
  & .descripcion{
    font-size: 0.8rem;
    padding-top: 5px;
  }
  & .cta{
    display: flex;
    align-items: center;
    & svg{
      width: 25px;
      height: 25px;
      fill: $color-azul;
      margin-left: 15px;
      cursor: pointer;
    }
    & input{
      cursor: pointer;
      @include boton-grande($color-azul,1);
    }
  }
}