@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$fuente: 'Roboto', sans-serif;
$color-oscuro: #03091e;
$color-fondo: #0c1633;
$color-medio: #121f3d;
$color-claro: #263755;
$color-opaco: #637b9d;
$color-azul: #33b1ff;
$color-verde: #98ca3f;
$color-amarillo: #fddd5b;
$color-rojo: #FF4842;
$color-fuente: #ffffff;
$color-marketing: #29B8E8;
$color-ux: #6B407E;
$color-ingles: #E32020;
$color-startups: #1E7C6A;
$color-desarrollo: #33B13A;
$color-habilidades: #CB161D;
$color-negocio: #F5C443;
$color-contenido: #FA7800;

$sombra: -10px 10px 20px 0px $color-oscuro;